html, body {
  margin: 0;
}

.container {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  background-color: azure;
  padding: 16px;
  height: 100vh;
}

.start {
  font-size: larger;
}

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu {
  display: flex;
  justify-content: space-between;
}