html, body {
  margin: 0;
}

.container {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  background-color: azure;
  padding: 16px;
  height: 100vh;
  width: 25vw;
}

.start {
  font-size: larger;
}

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.content{
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 75vw;
  gap: 32px;
}

.header{
  display: flex;
  font-size: xx-large;
  gap: 32px;
  align-items: center;
}

img{
  width: fit-content;
}
